* {
  box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	padding-top: 150px;
  background: rgba(58, 108, 245, 0.959);
  margin: 0;
}

.topnav{
	position: fixed;
	top: 0;
  width: 100%;
  height: 35px;
  display: block;
  background-color: rgba(11, 3, 117, 0.6);
  padding: 75px;
  text-align: center;
	opacity: 1;
  z-index: 999;
}

.navBar{
  width:100%;
	opacity: 1;
  
}

.login{
  color: white;
  background-color: rgba(58, 108, 245, 0.959);
  border-radius: 14px;
	text-decoration: none;
  font-size: large;
  margin: -15px;
  padding: 15px 32px;
  float: right;
	font-weight: 750;
	transition: all 0.2s ease-out;
}
.signup{
  color: #005704;
  background-color: #07f813;
  border-radius: 14px;
	text-decoration: none;
  font-size: large;
  margin: -15px 20px;
  padding: 15px 20px;
  float: right;
	font-weight: 750;
	transition: all 0.2s ease-out;
}

.signup:hover{
  background: #45a049;
	transition: all 0.2s ease-in;
}

.login:hover{
  background: #2d55cd;
	transition: all 0.2s ease-in;
}

.lglogo {
  float: left;
  margin: -55px;
}
.main_search {
  width: 50%;
  height: 100%;
	padding: 14px 20px;
	border-radius: 14px;
  margin-left: 0px;
  margin-top: -200px;
}

.search_btn[type=submit]{
	margin-left: 100px;
	width: auto;
  background-color: #07f813; 
  color: #005704;
  padding: 14px 20px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
	transition: all 0.2s ease-out;
  margin-top: -200px;
}

.search_btn[type=submit]:hover {
  background-color: #45a049;
	transition: all 0.2s ease-in;
}

.column {
  float: left;
  padding: 10px;
}

/*Left and right columns*/
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
  text-align: center;
  font-size: x-large;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

.smlogo {
  position: absolute;
  z-index: -1;
  width: 25%;
}

.welcome{
	color: white;
  text-align: center;
	padding-bottom: 10px;
  font-size: 40px;
	cursor: default;
}

.whatDo{
	color: white;
  padding: 10px;
	cursor: default;
}

.info_title{
	color:white;
	text-align: left;
	position: static;
}

.info_content{
  color: #b5b5b5;
  text-align: left;
  padding-bottom: 5px;
	padding-left: 20px;
  text-decoration: bold;
	transition: all 0.3s ease-out;
}

.info_content:hover{
  color: white;
	transition: all 0.3s ease-in;
}

.info_full{
	width: 100%;
	background-color: #2e51ff;
	padding: 20px;
	border-radius: 14px;
	cursor: default;
}

.footer{
	color: rgb(202, 202, 202);
  text-align: center;
	padding-bottom: 5px;
}

.login_form{
	padding: 15px 5px 10px 5px;
	background-color: white;
	border-radius: 14px;
}

.login_form_input, select {
  width: 75%;
  padding: 12px 20px;
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 14px;
  box-sizing: border-box;
}

.login_form_submit[type=submit] {
  width: 75%;
  background-color: #07f813; 
  color: #005704;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 14px;
  cursor: pointer;
	transition: all 0.2s ease-out;
}

.login_form_submit[type=submit]:hover {
  background-color: #45a049;
	transition: all 0.2s ease-in;
}

.signUp_form{
	padding: 15px 5px 10px 5px;
	background-color: white;
	border-radius: 14px;
}

.signUp_form_input, select {
  width: 75%;
  padding: 12px 20px;
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 14px;
  box-sizing: border-box;
}

.signUp_form_submit[type=submit] {
  width: 75%;
  background-color: #07f813; 
  color: #005704;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 14px;
  cursor: pointer;
	transition: all 0.2s ease-out;
}

.signUp_form_submit[type=submit]:hover {
  background-color: #45a049;
	transition: all 0.2s ease-in;
}

.form_info{
	color: #202ea8;
	margin: 12px 25px 3px 25px;
	font-size: 30px;
	font-weight: 600;
}

.redirect_size{
	font-size: 18px;
	margin-bottom: 8px;
}

.redirect_btn{
	background-color: #07f813;
	font-size: 14px;
	font-weight: 600;
	padding: 4px;
	border-radius: 14px;
	text-decoration: none;
	color: #005704;
	margin-bottom: 2px;
	transition: all 0.2s ease-out;
}

.redirect_btn:hover {
  background-color: #45a049;
	transition: all 0.2s ease-in;
}

.form_content_titles{
	font-size: 20px;
	font-weight: 500;
	padding: 12px 0px 0px 0px;
	margin: 0px;
	margin-left: 6px;
}

.recommend_form{
	padding: 15px 5px 10px 5px;
	background-color: white;
	border-radius: 14px;
}

.recommend_form_input, select {
  width: 75%;
  padding: 12px 20px;
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 14px;
  box-sizing: border-box;
}

.recommend_form_submit[type=submit] {
  width: 75%;
  background-color: #07f813; 
  color: #005704;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 14px;
  cursor: pointer;
	transition: all 0.2s ease-out;
}

.recommend_form_submit[type=submit]:hover {
  background-color: #45a049;
	transition: all 0.2s ease-in;
}

a{
  text-decoration: none;
}

.nav_active {
  background-color: #07f813;
  color: #005704;
  cursor: pointer;
  margin: 0px;
  padding: 15px 60px 15px 20px;
  list-style: none;
}

.nav_select{
  background: none;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  margin: 0px;
  padding: 15px 60px 15px 20px;
  list-style: none;
  text-decoration: none;
}

.nav_select a{
  position: relative;
  z-index: 2;
  color: white;
  text-decoration: none;
}

.nav_txt{
  position: relative;
  z-index: 99;
  color: white;
  text-decoration: none;
}

.nav_select:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #07ce11;
  transition: all 0.35s;
}

.nav_select:hover{
  color: #ffffff; 
}

.nav_select:hover:after{
  width: 100%;
}

.sideNav{
  position: fixed;
}

.review_form{
	padding: 15px 5px 10px 5px;
	background-color: white;
	border-radius: 14px;
}

.review_form_submit[type=submit] {
  width: 75%;
  background-color: #07f813; 
  color: #005704;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 14px;
  cursor: pointer;
	transition: all 0.2s ease-out;
}

.review_form_submit[type=submit]:hover {
  background-color: #45a049;
	transition: all 0.2s ease-in;
}

.review_form_info{
	color: #202ea8;
	margin: 12px 25px 3px 25px;
	font-size: 24px;
	font-weight: 500;
}

.home_content{
	padding: 15px 5px 10px 5px;
	background-color: white;
	border-radius: 14px;
}

.review_content{
  resize: vertical;
  width: 75%; 
  height: 200px;
  padding: 12px 12px 12px 12px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 14px;
  box-sizing: border-box'
}

.checkbox{
  cursor: pointer;  
}

.content{
	padding: 15px 25px 20px 25px;
	background-color: white;
	border-radius: 14px;
  text-align: left;
}

.checkbox_form{
  padding-left: 25px;
  padding-top: 3px;
  padding-bottom: 8px;
  font-size: 20px;
}

.pull_content{
	padding: 15px 25px 20px 25px;
	background-color: white;
	border-radius: 14px;
  text-align: left;
}

.review_image{
  max-width: 250px;
  max-height: 200px;
	border-radius: 14px;
	float: left;
	margin-right: 10px;
}

.pulled_reivew{
  padding: 8px;
	background-color: rgb(226, 226, 226);
	border-radius: 14px;
  text-align: left;
  font-size: 20px; 
  color:rgb(46, 46, 46);
}

.review_review{
	clear: left;
  padding-top: 15px;
  font-size: 23px; 
  font-weight: 700; 
  font-style: italic;
  color: rgb(46, 46, 46);
}

.review_address{
  float: left;
  padding-left: 3px;
  color: rgb(73, 73, 73);
  font-size: 18px;  
  font-style: italic;
}

.review_count{
  clear: left;
  padding-left: 10px;
	padding-top: 8px;
  color: rgb(104, 104, 104);
  font-size: 16px;  
  font-style: italic;
	
}

.review_des{
	padding-top: 3px;
	padding-left: 10px;
  color: rgb(65 65 65);
  font-size: 22px;  
  font-weight:540;
}

.review_busName{
  color: rgb(46, 46, 46);
  font-size: 48px;  
  font-style: bold; 
}