* {
  box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgba(58, 108, 245, 0.959);
  margin: 0;
}

.topnav{
  width: auto;
  height: 35px;
  display: block;
  background-color: rgba(11, 3, 117, 0.6);
  padding: 75px;
  text-align: center;
}

.navBar{
  width:100%;
}

.login{
  color: white;
  background-color: rgba(58, 108, 245, 0.959);
  border-radius: 14px;
	text-decoration: none;
  font-size: large;
  margin: -15px;
  padding: 15px 32px;
  float: right;
	font-weight: 750;
	transition: all 0.3s ease-out;
}
.signup{
  color: rgba(11, 3, 117, 0.6);
  background-color: #07f813;
  border-radius: 14px;
	text-decoration: none;
  font-size: large;
  margin: -15px 20px;
  padding: 15px 20px;
  float: right;
	font-weight: 750;
	transition: all 0.3s ease-out;
}

.signup:hover{
  background: #aeffa3; 
	transition: all 0.3s ease-in;
}

.login:hover{
  background: #75caff;
	transition: all 0.3s ease-in;
}

.lglogo {
  float: left;
  margin: -55px;
}
.searchbar {
  width: 50%;
  height: 100%;
  margin-left: 125px;
}

.column {
  float: left;
  padding: 10px;
}

/*Left and reight columns*/
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

.smlogo {
  position: absolute;
  z-index: -1;
  width: 25%;
}

.column.middle {
  text-align: center;
  font-size: x-large;
}

dt {
  font-weight: bold;
}
dd {
  text-align: left;
}

li a:hover:not(.active) {
  background-color: white;
}

.active {
  background-color: #07f813;
  color: rgba(11, 3, 117, 0.6);
}

li {
  float: left;
}

ul {
  list-style-type: none; 
  margin-left:600px; 
  margin-top: 30px;
  padding: 0px; 
  overflow: hidden; 
  background-color: rgba(58, 108, 245, 0.959)
}

li a {
  display: block; 
  color: #07f813; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none
}

.welcome{
	color: white;
  text-align: center;
	padding-bottom: 10px;
  font-size: 40px;
}

.whatDo{
	color: white;
  padding: 10px;
}

.info_title{
	color:white;
	text-align: left;
	position: static;
}

.info_content{
  color: #b5b5b5;
  padding-bottom: 5px;
	padding-left: 20px;
  text-decoration: bold;
	transition: all 0.3s ease-out;
}

.info_content:hover{
  color: white;
	transition: all 0.3s ease-in;
}

.info_full{
	width: 100%;
	background-color: #2e51ff;
	padding: 20px;
	border-radius: 14px;
}