* {
  box-sizing: border-box;
}

body {
  background: rgba(58, 108, 245, 0.959);
  margin: 0;
}

.topnav{
  width: auto;
  height: 35px;
  display: block;
  background-color: rgba(11, 3, 117, 0.6);
  padding: 75px;
  text-align: center;
}
.login{
  color: white;
  background-color: rgba(58, 108, 245, 0.959);
  border-radius: 5px;
  font-size: large;
  margin: -15px 4px;
  padding: 15px 32px;
  float: right;
}
.signup{
  color: rgba(11, 3, 117, 0.6);
  background-color: #07f813;
  border-radius: 5px;
  font-size: large;
  margin: -15px 4px;
  padding: 15px 20px;
  float: right;
}
a:hover{
  text-decoration: underline;
  color: blue;
}
.lglogo {
  float: left;
  margin: -55px;
}
.searchbar {
  width: 50%;
  height: 100%;
}

.column {
  float: left;
  padding: 10px;
}
/*Left and reight columns*/
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

.smlogo {
  position: absolute;
  z-index: -1;
  width: 25%;
}

.column.middle {
  text-align: center;
  font-size: x-large;
}

dt {
  font-weight: bold;
}
dd {
  text-align: left;
}
